div#dx_section {
  position: relative;
  width: 100%;
}

div#dx_player {
  width: 100%;
  height: 40px;
}

a#dx_try_button {
  display: block;
  vertical-align: middle;
  height: 20px;
  text-align: center;
  width: 60px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 2px 10px;
}

a#dx_try_button:hover {
  background-color: green;
}

div#dx_duration {
  width: 300px;
  height: 2px;
  background-color: #C5AAA8;
}

div#dx_progress {
  width: 0px;
  height: 2px;
  background-color: #B61710;
}

div.dx_small_icon {
  float: left;
  width: 30px;
  height: 30px;
  margin: 5px 0 5px 10px;
  -webkit-transition: background 0.3s ease;
}

div#panel {
  float:left;
}
div#dx_play_pause {
  float: left;
  width: 30px;
  height: 30px;
  -webkit-transition: background 0.3s ease;
}

div#dx_info {
  float: left;
  margin-left: 10px;
  height: 40px;
}

div#dx_title {
  text-align: left;
  margin-bottom: 5px;
}