div#dx_section {
  position: relative;
  width: 100%;
}

div#dx_player {
  width: 100%;
  height: 40px;
}

a#dx_try_button {
  display: block;
  vertical-align: middle;
  height: 20px;
  text-align: center;
  width: 60px;
  margin: 10px 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  padding: 2px 10px;
}

a#dx_try_button:hover {
  background-color: green;
}

div#dx_duration {
  width: 250px;
  height: 2px;
  background-color: #D4F1E2;
}

div#dx_progress {
  width: 0px;
  height: 2px;
  background-color: #81BB9D;
}

div.dx_icon {
  float: left;
  width: 24px;
  height: 24px;
  margin: 8px 0 8px 5px;
  -webkit-transition: background 0.3s ease;
}

div#panel {
  float:left;
}

div#dx_next {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/next.png');
}

div#dx_next:hover {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/next_hover.png');
}

div#dx_prev {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/prev.png');
}

div#dx_prev:hover {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/prev_hover.png');
}


div#dx_info {
  float: left;
  margin-left: 15px;
  height: 40px;
  color: grey;
}

div#dx_title {
  text-align: left;
  margin: 5px 0;
}

div.dx_pause {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/pause.png');
}

div.dx_pause:hover {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/pause_hover.png');
}

div.dx_play {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/play.png');
}

div.dx_play:hover {
  background-image:url('chrome-extension://__MSG_@@extension_id__/images/play_hover.png');
}